<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!-- log4net設定 -->
  <log4net>
    <!-- 通常ログ出力先の定義 -->
    <appender name="SystemLogAppender" type="log4net.Appender.RollingFileAppender">

      <!-- 作成するログファイル -->
      <param name="File" value=".\log\ReportRenkeiAp" />

      <!-- 追加で書き込む -->
      <param name="AppendToFile" value="true" />

      <!-- 日付ごとにファイルを作成する -->
      <param name="RollingStyle" value="date" />

      <!-- ログファイル名は動的 -->
      <param name="StaticLogFileName" value="false" />

      <!-- ファイル名(日付部分) -->
      <param name="DatePattern" value="&quot;_&quot;yyyyMMdd&quot;.log&quot;" />

      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %C.%M - [%-5p] %m%n" />
      </layout>

      <!-- 出力レベル -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- エラーログ出力先の定義 -->
    <appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender">

      <!-- 作成するログファイル -->
      <param name="File" value=".\log\ReportError" />

      <!-- 追加で書き込む -->
      <param name="AppendToFile" value="true" />

      <!-- 日付ごとにファイルを作成する -->
      <param name="RollingStyle" value="date" />

      <!-- ログファイル名は動的 -->
      <param name="StaticLogFileName" value="false" />

      <!-- ファイル名(日付部分) -->
      <param name="DatePattern" value="&quot;_&quot;yyyyMMdd&quot;.log&quot;" />

      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %C.%M - [%-5p] %m%n" />
      </layout>

      <!-- 出力レベル -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="All" />

      <!-- どのログ出力先を使用するか -->
      <appender-ref ref="SystemLogAppender" />
      <appender-ref ref="ErrorLogAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>